{% extends "base.html" %}
        {% block content %}

        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Forgot password?</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->
        <!--================forgot_password_part Area =================-->
        <section class="login_part section_padding ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_form">
                            <div class="login_part_form_iner">
                                <h3>Welcome ! <br>
                                    Please Verify OTP Now </h3><br>
                                Change your password in three easy steps. This will help you to secure your password! <br>
                                <span>1. </span>Enter your email address <br>
	                            <span>2. </span>Our system will send you a temporary link <br>
	                            <span>3. </span>Use the link to reset your password <br>

                                <br>
                                {{msg}}
                                <form class="row contact_form" action="{% url 'forgot-password' %}" method="post" novalidate="novalidate">
                                    {% csrf_token %}
                                    <div class="col-md-12 form-group p_star">
                                        <input type="email" class="form-control" name="email" 
                                            placeholder="Enter Email" required="required" >
                                            <br> 
                                            <br>
                                    </div>
                                    <br> 
                                    <br>
                                    <div class="col-md-12 form-group">                                        
                                        <button class="btn_3" type="submit">Reset Password</button>                                  
                                    </div>
                                </form>
                                <a href="{% url 'login' %}"><button class="btn_3" type="submit">Back to Login</button></a>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================forgot_password_part end =================-->
        {% endblock content %}