{% extends 'base.html' %}
{% load static %}
{% block content %}




	<div class="slider-area ">
		<div class="single-slider slider-height2 d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="hero-cap text-center">
							<h2>Order</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Hero Area End-->
	<!--================Single Product Area =================-->

	<div class="product_image_area">
		<div class="container">
		<div class="row justify-content-center">
			{% for product in buys %}
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
					<div class="single-popular-items mb-50 text-center">
					<!-- <h1 class="title">Confirm Your oder details and amount</h1> -->
					<img src="{{product.product.pic.url}}" alt="#"  width="300px" height="300px">

					</div>
				<!-- <div class="single_product_img">
					<img src="assets/img/gallery/gallery01.png" alt="#" class="img-fluid">
				</div>
				<div class="single_product_img">
					<img src="assets/img/gallery/gallery1.png" alt="#" class="img-fluid">
				</div> -->
				</div>
			<!-- </div> -->
			<div class="col-lg-8">
			<div class="single_product_text text-center">
				<h3>{{product.product.title}} </h3>
				<div class="card_area">
					<div class="product_count_area">
						<p>Rs.{{product.product.price}}/-</p>
						{% if product.status == False %}
						<p>Expected Delievery : {{product.expected_date}}</p>
						{% else %}
						<p>Delievered</p>
						{% endif %}
					</div>
				<div class="add_to_cart">
					<a href="{% url 'product_details' product.id %}" id="pay-btn" class="btn_3">Product Details</a>
				</div>
				<div class="add_to_cart">
					<a href="{% url 'delete_order' product.id %}" id="pay-btn" class="btn_3">Delete Product</a>
				</div>
				</div>
			</div>
			</div>
            {% endfor %}
		</div>
		</div>
	</div>

{% endblock %}